<%= render partial: 'shared/errors', locals: { x: @user } %>
<div class="form-group">
  <%= f.label :first_name, class: 'col-sm-4 control-label' %>
  <div class="col-sm-7">
    <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'Mohan' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :middle_name, class: 'col-sm-4 control-label' %>
  <div class="col-sm-7">
    <%= f.text_field :middle_name, autofocus: true, class: 'form-control', placeholder: 'Pratap' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :last_name, class: 'col-sm-4 control-label' %>
  <div class="col-sm-7">
    <%= f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: 'Singh' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, class: 'col-sm-4 control-label' %>
  <div class="col-sm-7">
    <%= f.email_field :email, class: 'form-control', placeholder: 'you@example.com' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, class: 'col-sm-4 control-label' %>
  <div class="col-sm-7">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'  %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, 'Confirm Password', class: 'col-sm-4 control-label' %>
  <div class="col-sm-7">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password'  %>
  </div>
</div>