<div class="margin-bottom">
  <span class="h3"><%= @user.full_name %></span>
</div>

<div class="col-md-6">
  <div class="box box-solid box-default center-block">
    <div class="box-header with-border text-center">
      <h3 class="box-title">User details</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th>Full Name</th>
          <td><%= @user.full_name %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>Created at</th>
          <td><%= date_with_time @user.created_at %></td>
        </tr>
        <tr>
          <th>Updated At</th>
          <td><%= date_with_time @user.updated_at %></td>
        </tr>
        <tr>
          <th>Current sign in IP</th>
          <td><%= @user.current_sign_in_ip %></td>
        </tr>
        <tr>
          <th>Current sign in time</th>
          <td><%= date_with_time @user.current_sign_in_at %></td>
        </tr>
        <tr>
          <th>Last signed in time</th>
          <td><%= date_with_time @user.last_sign_in_at %></td>
        </tr>
        <tr>
          <th>Last signed in IP</th>
          <td><%= @user.last_sign_in_ip %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="box box-solid box-default center-block">
    <div class="box-header with-border text-center">
      <h3 class="box-title">Roles</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered">
        <% @user_roles.each do |role| %>
          <tr>
            <th><%= role.name %></th>
            <td><%= role.description %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
