<!DOCTYPE html>
<html>
  <head>
    <title>RBAC</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="layout-top-nav skin-blue ">
    <div class="wrapper">
      <header class="main-header">
        <nav class="navbar navbar-static-top">
          <div class="container-fluid" style="padding-left: 0px;">
            <a href="/" class="logo">Home</a>
            <%= render partial: 'shared/top_nav' %>
          </div>
        </nav>
      </header>
      <div class="content-wrapper">
        <section class="content container">
          <%= render partial: 'shared/flash' %>
          <%= yield %>
        </section>
      </div>
      <%= render partial: 'shared/app_footer' %>
      <div id="modal-wrap">
        <%= render partial: 'layouts/loader' %>
      </div>
    </div>
  </body>
</html>
