<!DOCTYPE html>
<html>
  <head>
    <title>Tinglado ERP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="layout-top-nav skin-blue ">
    <div class="wrapper">
      <%= render partial: 'shared/top_nav' %>
      <div class="content-wrapper">
        <section class="content container">
          <%= yield %>
        </section>
      </div>
      <%= render partial: 'shared/app_footer' %>
    </div>
  </body>
</html>
